@tailwind base;
@tailwind components;
@tailwind utilities;

.dx-popup-content {
  padding-top: 0;
}

.dx-checkbox-text {
  margin-left: 1rem;
}

.dx-toast-content {
  color: #fff !important;
}

.dx-toast-info {
  background-color: #03a9f4 !important;
}

.dx-button.dx-button-warning {
  background-color: #ffc107;
}

.dx-checkbox-text {
  margin-left: 0.4rem;
  cursor: pointer;
}
